<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <h1>Welcome to Cian's Weather App Live</h1>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.prod.js"></script>
</head>
<body>
    <img alt= "sun and cloud" height="100"src='https://www.pngmart.com/files/12/Sun-And-Cloud-PNG-HD.png'/>
    <div id="app">
        <input type="text" v-model="seached_city" placeholder="Enter a city...">
        <button @click="getWeatherFromAPI(seached_city); showResults = true">Get Weather</button>

        <div v-if="showResults">
            <h1>Weather for {{city}}</h1>
            <p>Lat: {{lat}}. Lon {{lon}}</p>
            <p>Country: {{country}}</p>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Rainfall (mm)</th>
                        <th>Temperature (°C)</th>
                        <th>Wind Speed (km/h)</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="day in daily_weather">
                        <td>{{ day.formated_date }}</td>
                        <td>{{ day.rainfall_level }}</td>
                        <td>{{ day.temp }}</td>
                        <td>{{ day.windspeed }}</td>
                        <td>{{ day.weather_type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
